<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /world/bkpmng/
    
    # Se for um arquivo ou diretório real, deixa passar
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redireciona para public/index.php
    RewriteRule ^(.*)$ public/index.php?/$1 [QSA,L]
</IfModule>

# Bloqueie acesso a arquivos ocultos
<FilesMatch "^\.|\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Exceto index.php
<Files "index.php">
    Order allow,deny
    Allow from all
</Files>

# Disable directory listing
Options -Indexes
