RewriteEngine On

# Redirect root to public folder
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]

# Allow access to public folder
RewriteCond %{REQUEST_URI} ^/public/
RewriteRule ^public/(.*)$ - [L]
