<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /world/bkpmng/
    
    # Se for um arquivo ou diretório real, deixa passar
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Se não for acessando /public/, redireciona para /public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
