<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /world/bkpmng/public/
    
    # Se for um arquivo ou diretório real, deixa passar
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Tudo que não é arquivo/diretório vai para index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
